acme-navbar {
  width: 100%;
  z-index: 5;
  background-color: $blue-dark;
  color: $white;
  display: block;
  transition: all .5s ease;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &.fixed {
    position: fixed;
    .nav {
      max-height: 0;
      transition: all .5s ease;
      overflow: hidden;
      padding: 0 30px 0 15px;
      &.open {
        max-height: 200px;
      }
    }
  }
}
.nav-container {
  width: 100%;
  padding: 8px 30px 8px 15px;
  @include mobile-only {
    padding: 5px 10px;
  }
}
.nav-left,.nav-right {
  position: absolute;
  color: $white;
  z-index: 6;
  @include center-y;
  @include mobile-only {
    top: 20px;
  }
}
.nav-middle {
  padding: 0 15px 0 30px;
  @include mobile-only{
    padding: 0;
    li {
      margin: 10px 0;
    }

  }
}
.nav-left {
  @include mobile-only {
    position: relative;
  }
}
.nav-right {
  text-align: right;
  right: 14px;
}
.acme-navbar-text{
  color: white;
}

