<acme-navbar year="car.detail.year" make="car.detail.make" model="car.detail.model"></acme-navbar>

<div class="container detail-container">


  <div class="">
    <div class="row">
      <div class="col-sm-7">
        <div class="detail-slide">
          <span class="glyphicon glyphicon-menu-left arrow arrow-left" ng-click="car.slideLeft()"></span>
          <div class="detail-slide-container">
            <img ng-repeat="img in car.detail.mediumResPhotos" src="{{img}}" ng-class="{ 'active':$index==car.slideCur }" alt="">
          </div>
          <span class="glyphicon glyphicon-menu-right arrow arrow-right" ng-click="car.slideRight()"></span>
        </div>
      </div>
      <div class="col-sm-5">
        <h1>{{car.detail.year}} {{car.detail.make}} {{car.detail.model}} {{car.detail.bodyStyle}}</h1>
        <ul class="detail-right">
          <li>Price <span>${{car.detail.salePrice}}</span></li>
          <li>Condition <span>{{car.detail.type}}</span></li>
          <li>Mileage <span>{{car.detail.mileage}}</span></li>
          <li>Transmission <span>{{car.detail.transmission}}</span></li>
          <li>MPG <span>{{car.detail.combinedMileage}}</span></li>
        </ul>
      </div>
    </div> 
    </div>
  </div>

</div>
